<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Neklo_Monitor>
            <version>1.3.0</version>
            <api_version>1.3.0</api_version>
            <platform>Magento1</platform>
        </Neklo_Monitor>
    </modules>
    <global>
        <blocks>
            <neklo_monitor>
                <class>Neklo_Monitor_Block</class>
            </neklo_monitor>
            <neklo_monitor_adminhtml>
                <class>Neklo_Monitor_Block_Adminhtml</class>
            </neklo_monitor_adminhtml>
        </blocks>
        <helpers>
            <neklo_monitor>
                <class>Neklo_Monitor_Helper</class>
            </neklo_monitor>
            <catalog>
                <rewrite>
                    <product_flat>Neklo_Monitor_Helper_Flat</product_flat>
                </rewrite>
            </catalog>
        </helpers>
        <models>
            <neklo_monitor>
                <class>Neklo_Monitor_Model</class>
                <resourceModel>neklo_monitor_resource</resourceModel>
            </neklo_monitor>
            <neklo_monitor_resource>
                <class>Neklo_Monitor_Model_Resource</class>
                <entities>
                    <report><table>neklo_monitor_report</table></report>
                    <log><table>neklo_monitor_log</table></log>
                    <queue><table>neklo_monitor_queue</table></queue>
                    <cicl><table>neklo_monitor_cataloginventory_cl</table></cicl>
                    <account><table>neklo_monitor_account</table></account>
                </entities>
            </neklo_monitor_resource>
        </models>
        <resources>
            <neklo_monitor_setup>
                <setup>
                    <module>Neklo_Monitor</module>
                </setup>
            </neklo_monitor_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <neklo_monitor_order_place_after>
                        <class>neklo_monitor/observer</class>
                        <method>orderPlaceAfter</method>
                    </neklo_monitor_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
        <log>
            <core>
                <writer_model>Neklo_Monitor_Model_Log_Writer_Stream</writer_model>
            </core>
        </log>
    </global>
    <frontend>
        <routers>
            <neklo_monitor>
                <use>standard</use>
                <args>
                    <module>Neklo_Monitor</module>
                    <frontName>neklo_monitor</frontName>
                </args>
            </neklo_monitor>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Neklo_Monitor before="Mage_Adminhtml">Neklo_Monitor_Adminhtml</Neklo_Monitor>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml_system_config_edit>
                <observers>
                    <neklo_ldap_config_page>
                        <class>neklo_monitor/observer</class>
                        <method>actionPreDispatchConfigPage</method>
                    </neklo_ldap_config_page>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_edit>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <neklo_monitor_send_server_info>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>neklo_monitor/cron::sendServerInfo</model>
                </run>
            </neklo_monitor_send_server_info>
            <neklo_monitor_send_store_info>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>neklo_monitor/cron::sendStoreInfo</model>
                </run>
            </neklo_monitor_send_store_info>
            <neklo_monitor_collect_var_reports>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>neklo_monitor/cron::collectVarReports</model>
                </run>
            </neklo_monitor_collect_var_reports>
            <neklo_monitor_convert_invetory_changelog_to_queue>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>neklo_monitor/cron::convertInventoryChangelogToQueue</model>
                </run>
            </neklo_monitor_convert_invetory_changelog_to_queue>

            <neklo_monitor_aggregate_sales_report_order_data>
                <schedule>
                    <cron_expr>5 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>neklo_monitor/cron::aggregateSalesReportOrderData</model>
                </run>
            </neklo_monitor_aggregate_sales_report_order_data>
            <neklo_monitor_send_queue>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>neklo_monitor/cron::sendQueue</model>
                </run>
            </neklo_monitor_send_queue>
        </jobs>
    </crontab>
    <default>
        <neklo_monitor>
            <general>
                <is_enabled>0</is_enabled>
            </general>
            <gateway>
                <token></token>
                <token_generated_at></token_generated_at>
                <server_type>production</server_type>
                <sid></sid>
            </gateway>
        </neklo_monitor>
    </default>
</config>